body {
    padding: 0 70px;
}

div {
    float: left;
    margin: 10px 10px;
}

.one {
    height: 200px;
    width: 200px;
    background-color: #008000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.two {
    height: 200px;
    width: 200px;
    border: 5px solid #008000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.three {
    height: 200px;
    width: 200px;
    background-color: #008000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.four {
    height: 200px;
    width: 200px;
    border: 5px solid #008000;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.circle-one {
    height: 200px;
    width: 200px;
    background-color: #008000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-two {
    height: 200px;
    width: 200px;
    border: 5px solid #008000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-three {
    height: 200px;
    width: 200px;
    background-color: #008000;
    border-radius: 50px 100px 200px 10px;
    -webkit-border-radius: 50px 100px 200px 10px;
    -moz-border-radius: 50px 100px 200px 10px;
    -ms-border-radius: 50px 100px 200px 10px;
    -o-border-radius: 50px 100px 200px 10px;
}

.five {
    height: 200px;
    width: 200px;
    background-color: #008000;
    border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    -moz-border-radius: 0 100% 0 0;
    -ms-border-radius: 0 100% 0 0;
    -o-border-radius: 0 100% 0 0;
}

.six {
    height: 200px;
    width: 100px;
    background-color: #008000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.seven {
    height: 100px;
    width: 200px;
    background-color: #008000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}